.btn {
    border: 1px solid $color-1;
    border-radius: 8px;
    padding: 7px 23.5px;
    display: inline-block;    
    font-size: 14px;
    font-weight: 700;
    line-height: $main-line-height;
    color: $main-text-color;
    position: relative;    
    vertical-align: middle;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    
    &:hover{
        color: $main-text-color;                
    }

    &::after {
        content: "";
        background-color: #F3F4F1;
        inset: 0;
        position: absolute;
        z-index: -1;
        transform-origin: left;
        transform: scaleX(0);
        transition: transform 0.5s ease-in-out;
      }

    &:hover:after{
        transform: scaleX(1);
        transform-origin: right;
    }
 
    
    &_active {        
        color: #fff;

        &::after {
           background-color: $text-hover-color;
        }

        &::before{
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            background-color: $color-1;
            z-index: -2;
            left: 0px;  
            top: 0px;
            height: 100%;
        }

        &:hover{
            color: #fff;
        }
    }

    &+& {
        margin-left: 14px;
    }   

}