.footer-wrapp {
    background: #F3F4F1;
    margin-top: 64px;
}

.footer {
    padding: 48px 0px 32px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    @media (max-width: $tablet-screen) {
        display: block;
    }
}
.footer__logo{
    width: 235px;
    max-width: 100%;
    @media (max-width: $tablet-screen) {
        width: 156px;
    }
}
.footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 63%;

    @media (max-width: $tablet-screen) {
        padding-top: 32px;
        width: 100%;
    }
}

.footer-main-menu {
    width: 33%;
    padding-left: 11px;    
    
    @media (max-width: $tablet-screen) {
        padding: 0px;
        width: 50%;
    }
}
.footer-tabs {
    width: 66%;
    padding-left: 13px;
    padding-top: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    @media (max-width: $tablet-screen) {        
        width: 50%;
        display: block;
    }
}

.footer-tabs__col {
    width: 50%;
    
    @media (max-width: $tablet-screen) {        
        width: 100%;
    }
}

.footer-main-menu__item {
    padding-bottom: 16px;
}

.footer-main-menu__link {
    font-weight: 700;
    font-size: 14px;
    line-height: $main-font;
    color: $main-text-color;
    transition: color .2s ease-out;
    &:hover {
        color: $text-hover-color;
    }
}

.footer-tabs__item {
    padding-bottom: 14px;
}

.footer-tabs__link {
    font-weight: 400;
    font-size: 14px;
    line-height: $main-font;
    color: $article-text-color;
    transition: color .2s ease-out;

    &:hover {
        color: $text-hover-color;
        cursor: pointer;
    }
}

.footer-copyright {
    border-top: 1px solid $border-color;
    padding: 16px 0px;
    font-size: 10px;
    font-weight: 400;
    line-height: $main-font;
    color: $article-text-color;
    text-align: left;
}