@import './jq_selectbox';

.form__checkbox-label {    
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding-left: 33px;

    &::after,
    &::before {
        content: '';
        width: 24px;
        height: 24px;
        position: absolute;
        border-radius: 8px;
        transition: all .3s ease-out;        
        top: 0px;
        left: 0px;
    }

    &::after {
        background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAANCAYAAACgu+4kAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACLSURBVHgBndIBDYAgEAVQbGAEIhDBJtpAG0gDImgTIxDBCERAmIf7Y+qO+5tzO3yfDeyUIDHGPr28kiYV+HjnVK1JaC84PbrFZmwJhwfT0DXgHIMLgYbuB0+A53rRQIl9wQbwytlhhLmmw/rG8PECJUOFN8VJ3gVOuWBPPw4vcM+yu6aSQ4ypoOfiC6BG8YDTTuPpAAAAAElFTkSuQmCC') center center no-repeat;
        display: none;
    }

    &::before {                
        border: 1px solid $border-color;
    }
}

.form__checkbox:checked+.form__checkbox-label::before {
    background-color: $color-1;
    border-color: $color-1;
}

.form__checkbox:checked+.form__checkbox-label::after {
    display: block;
}

.form__checkbox {
    display: none;
}

.form__checkbox_error+.form__checkbox-label:before {
    border-color: $error-color;
}

.form__checkbox:disabled+.form__checkbox-label::before {
  border-color: $border-color;
  background: transparent;
}

.form__checkbox:disabled+.form__checkbox-label::after {  
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAANCAYAAACgu+4kAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAEHSURBVHgBnVHLcQIxDJU8G3KlBEqgBc5mJnEFJBVkUwGkgiQVhA5EEi8cU0IoYUvINQuzQrIxMDs7/N7FsqT3JPshXAEi6nZu8bdmAANX4KaDP8zQ0/hiAT+nqRx9GV6uKx5cJPBd0AQYRxL+Kdk5VxpN+vns9RwyAo41RohkjY0kn4AhPybyVdDDnoy5tW6ZakbVdCUVCSs2UBTUN4AfW/LE2rv3w7pRNRF53jaMvf8cpeJiQT1ApAPyS3MApsB7yqU5PINrHmQZlDVHu6Rpau39I7Rg58Jw6N50SlA1SIks12VVxQ3bgM1E8DlaBcnr9ONnCUSRWZh+iqzI2pKrf3ZydE+RFRv9UHjwzXS5WAAAAABJRU5ErkJggg==');
}

.form__checkbox-label + .form__checkbox + .form__checkbox-label {
  margin-left: 16px;
}

.textarea,
.input {
    border-radius: 8px;
    border: 1px solid $border-color;
    width: 340px;
    height: 40px;
    padding: 16px 8px;
    max-width: 100%;
}

.input_error {
    border-color: $error-color;
}

.textarea {
    height: 88px;
}

.textarea:focus-visible,
.input:focus-visible {
    outline: 0px;
}

.form__row {
    display: flex;    
    padding: 8px 0px;
    gap: 10px;
    justify-content: space-between;
}

.form_col40{
  width: 40%;
}

.form_col60{
  width: 60%;
}

.form {
    width: 500px;
    max-width: 100%;
}

.form__radio:checked,
.form__radio:not(:checked) {
    position: absolute;
    left: -9999px;    
}
.form__radio:checked + .form__radio-label,
.form__radio:not(:checked) + .form__radio-label
{
    position: relative;
    padding-left: 32px;
    cursor: pointer;    
    display: inline-block;    
}
.form__radio:checked + .form__radio-label:before,
.form__radio:not(:checked) + .form__radio-label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    border: 1px solid $border-color;
    border-radius: 100%;
    background: #fff;
}
.form__radio:checked + .form__radio-label:before {
  border-color: $color-1;
}

.form__radio:checked + .form__radio-label:after,
.form__radio:not(:checked) + .form__radio-label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: $color-1;
    position: absolute;
    top: 6px;
    left: 6px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.form__radio:not(:checked) + .form__radio-label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.form__radio:checked + .form__radio-label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.form__radio-error:not(:checked)  + .form__radio-label:before {
  border-color: $error-color;
}

.form__radio:disabled + .form__radio-label:after {
  background: #B4B5B0;
}
.form__radio:disabled + .form__radio-label::before {
  border-color: #B4B5B0;
}

.form__radio-label + .form__radio + .form__radio-label {
  margin-left: 16px;
}

.form__input-text 
{
    border-radius: 8px;
    border: 1px solid #DADDD4;    
    height: 40px;
    padding: 16px 8px;
    max-width: 100%;
}

.form__datepicker {
  position: relative;  
  width: 149px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAEISURBVHgB7ZTPDYJQDMb7RLiR4I0LBEdgA53EGdzADRxBR3AEN9ANNOHCTRNu/PWrkcSY8nzEeFF+CWl5NG2/5hWigU8Jw/DEj+n5K+N3AU3TRH3OX1FdHyJQVdUG7oz07CzLWp6BcQFOXtf1AV16ZMYVRWKpiDgidL6G4eTbLMuWVyDF+b4f2ba9grsoy5LVzslEQRAEDduiKKZpmp5JA8R6aOjCKpIkmZCJghZ0d0IxXQirbV1xnCP6MloFkKzIgHakEl9X8KMFlFL3e+8BegMvJfUtgA0+snVdd61L8NiB1eN1J8WIt4Q31HGcXr8KLGUsLaWogAPzPI+7unpOjCb2XckH/oQbhAJzEiQp6tIAAAAASUVORK5CYII=') 114px center no-repeat;
  padding: 8px 16px;
  
  &:disabled{
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAEBSURBVHgB7VTLEYIwEH3B39USKEE70KOjB6nAFrQDrcAStAOYUfRqB9oBlMBVGFkT5OAwWT6jXJR3CZPsvt0X9gVo8Cnck+MdXMcru59FuyiACKaosJ8FG3M+2+aDxA6EEfIJnDCklWVZPnPOkMfiKj/7KIcgCmmoK6K9ojgWW0Uuq+/T7gK2EcIaJBadnlQLjLMxhi6RgLlaJfmGI1eYTCw/umOZJg10Mbk/udMV3tF1UBLa6zRQM3IVzKbzMpMIqZK4s9oV/G6BZDRt2y40mvICKhcQuKlFjulWFjG5ZNVAYjS8ngw9FdPVt54KrQLl0JZBQ66rd2Lp4AtH3uBP8ARdlW5aCvVbwAAAAABJRU5ErkJggg==');
  }
}

.form__input-text_error {
  border-color: $error-color;
}