.login {
    font-size: 14px;
    font-weight: 700;
    padding-top: 3px;
    cursor: pointer;

    @media (max-width: $medium-screen) and (min-width: $tablet-screen) {
        font-size: 0px;
    }

    &:hover {
        color: $color-1;
    }
}

.login__ico {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin-right: 7px;
}

.login:hover svg {
    fill: $color-1;
}