.login {
    font-size: 14px;
    font-weight: 700;
    padding-top: 3px;
    @media (max-width: $medium-screen) and (min-width: $tablet-screen) {
        font-size: 0px;
    }
}

.login::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url("../images/vector.png") 0px 0px no-repeat;
    vertical-align: middle;
    margin-right: 7px;
}