
// Fonts
$main-font : 'Montserrat', sans-serif;
$main-line-height: 1.5rem;

//Colors
$color-1: #B8CE10;
$main-text-color: #1D1D1D;
$text-hover-color: #A9BD0F;
$article-text-color: #6A6B61;
$border-color: #DADDD4;
$error-color: #CF1D11;

//Screen size
$mob-screen: 480px;
$medium-screen: 1240px;
$tablet-screen: 980px;