/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,800;1,300;1,700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.5rem;
  font-weight: 400;
}

.container {
  max-width: 100%;
  width: 1366px;
  margin: 0 auto;
  padding: 0px 48px;
}
@media (max-width: 980px) {
  .container {
    padding: 0px 24px;
  }
}

.logo {
  max-width: 100%;
  max-height: 100%;
}

.main-content {
  padding-top: 184px;
}
@media (max-width: 980px) {
  .main-content {
    padding-top: 145px;
  }
}

.hide {
  display: none !important;
}

.content-section {
  margin-top: 48px;
}

.btn {
  border: 1px solid #B8CE10;
  border-radius: 8px;
  padding: 7px 23.5px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5rem;
  color: #1D1D1D;
  position: relative;
  vertical-align: middle;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
}
.btn:hover {
  color: #1D1D1D;
}
.btn::after {
  content: "";
  background-color: #F3F4F1;
  inset: 0;
  position: absolute;
  z-index: -1;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}
.btn:hover:after {
  transform: scaleX(1);
  transform-origin: right;
}
.btn_active {
  color: #fff;
}
.btn_active::after {
  background-color: #A9BD0F;
}
.btn_active::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  background-color: #B8CE10;
  z-index: -2;
  left: 0px;
  top: 0px;
  height: 100%;
}
.btn_active:hover {
  color: #fff;
}
.btn + .btn {
  margin-left: 14px;
}

.text {
  padding-top: 48px;
  color: #6A6B61;
  width: 75%;
}
@media (max-width: 980px) {
  .text {
    width: 100%;
  }
}
.text p {
  padding-top: 20px;
}
.text ul[type=circle] {
  margin-top: 15px;
}
.text ul[type=circle] li {
  position: relative;
  padding-left: 25px;
}
.text ul[type=circle] li::before {
  content: "";
  position: absolute;
  left: 12.5px;
  top: 48%;
  display: block;
  width: 2px;
  height: 2px;
  background-color: #6A6B61;
  border-radius: 20px;
}
.text table {
  margin: 48px 0px;
  border-spacing: 0;
  width: 100%;
}
.text table thead {
  background: #DADDD4;
}
.text table thead td {
  font-weight: 700;
  font-size: 14px;
  color: #1D1D1D;
}
.text table thead td:first-child {
  border-top-left-radius: 6px;
}
.text table thead td:last-child {
  border-top-right-radius: 6px;
}
.text table td {
  padding: 16px 26px;
}
.text table tr:nth-child(even) {
  background: #F3F4F1;
}
.text table tr:nth-child(even) td:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.text table tr:nth-child(even) td:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.header-text {
  font-weight: 800;
  color: #1D1D1D;
}
.header-text::after {
  content: ".";
  display: inline;
  color: #B8CE10;
}

.header-text_h1 {
  font-size: 32px;
}

.header-text_h2 {
  font-size: 24px;
}

.header-text_h3 {
  font-size: 20px;
}

.content-text {
  padding-top: 25px;
}

.color-text {
  color: #B8CE10;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

a {
  color: #B8CE10;
  transition: color 0.2s linear;
}
a:hover {
  color: #A9BD0F;
}

.nativejs-select {
  max-width: 318px;
  vertical-align: middle;
  border: none;
  margin: 0;
  border-radius: 8px;
  width: 100%;
}

.nativejs-select__placeholder {
  background-color: transparent;
  border: 1px solid #DADDD4;
  border-radius: 8px;
  padding: 10px 15px;
}

.nativejs-select__placeholder:after {
  display: block;
  width: 10px;
  height: 6px;
  border: none;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACOSURBVHgBdY+9DcMgEIXvSJOSAQBllXQps0GUMmUm8ArZIB7BG3gUI7GABTXgd5aRLEt+0hM/38dJsHNuIkQpdfcI7XJDSinjymutHl0vBByljc2Ms845/8GezOxlsohNwrZPKX25TbDW9lhe6IwHBEmLFEJ4C780McY4aC2MHugV/UH60Fnwuc4Y0x3vF4+CQknRVLbSAAAAAElFTkSuQmCC") no-repeat center;
}

.nativejs-select_active .nativejs-select__dropdown {
  border: 1px solid #DADDD4;
  border-radius: 8px;
  padding: 4px;
  bottom: -8px;
  background-color: #fff;
}

.nativejs-select__option {
  color: #1D1D1D;
  background-color: #fff;
  font-style: normal;
  border-radius: 8px;
  border: none;
}

.nativejs-select__option:hover {
  background-color: #F3F4F1;
  color: #1D1D1D;
  border: none;
}

.nativejs-select__placeholder {
  color: #1D1D1D;
}

.nativejs-select_active .nativejs-select__placeholder:after {
  border: none;
  transform: rotate(180deg) translateY(50%);
}

.nativejs-select_error + .nativejs-select .nativejs-select__placeholder {
  border-color: #CF1D11 !important;
}

.form__custom-select:disabled + .nativejs-select .nativejs-select__placeholder:after {
  opacity: 0.5;
}

.form__checkbox-label {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding-left: 33px;
}
.form__checkbox-label::after, .form__checkbox-label::before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 8px;
  transition: all 0.3s ease-out;
  top: 0px;
  left: 0px;
}
.form__checkbox-label::after {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAANCAYAAACgu+4kAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACLSURBVHgBndIBDYAgEAVQbGAEIhDBJtpAG0gDImgTIxDBCERAmIf7Y+qO+5tzO3yfDeyUIDHGPr28kiYV+HjnVK1JaC84PbrFZmwJhwfT0DXgHIMLgYbuB0+A53rRQIl9wQbwytlhhLmmw/rG8PECJUOFN8VJ3gVOuWBPPw4vcM+yu6aSQ4ypoOfiC6BG8YDTTuPpAAAAAElFTkSuQmCC") center center no-repeat;
  display: none;
}
.form__checkbox-label::before {
  border: 1px solid #DADDD4;
}

.form__checkbox:checked + .form__checkbox-label::before {
  background-color: #B8CE10;
  border-color: #B8CE10;
}

.form__checkbox:checked + .form__checkbox-label::after {
  display: block;
}

.form__checkbox {
  display: none;
}

.form__checkbox_error + .form__checkbox-label:before {
  border-color: #CF1D11;
}

.form__checkbox:disabled + .form__checkbox-label::before {
  border-color: #DADDD4;
  background: transparent;
}

.form__checkbox:disabled + .form__checkbox-label::after {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAANCAYAAACgu+4kAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAEHSURBVHgBnVHLcQIxDJU8G3KlBEqgBc5mJnEFJBVkUwGkgiQVhA5EEi8cU0IoYUvINQuzQrIxMDs7/N7FsqT3JPshXAEi6nZu8bdmAANX4KaDP8zQ0/hiAT+nqRx9GV6uKx5cJPBd0AQYRxL+Kdk5VxpN+vns9RwyAo41RohkjY0kn4AhPybyVdDDnoy5tW6ZakbVdCUVCSs2UBTUN4AfW/LE2rv3w7pRNRF53jaMvf8cpeJiQT1ApAPyS3MApsB7yqU5PINrHmQZlDVHu6Rpau39I7Rg58Jw6N50SlA1SIks12VVxQ3bgM1E8DlaBcnr9ONnCUSRWZh+iqzI2pKrf3ZydE+RFRv9UHjwzXS5WAAAAABJRU5ErkJggg==");
}

.form__checkbox-label + .form__checkbox + .form__checkbox-label {
  margin-left: 16px;
}

.textarea,
.input {
  border-radius: 8px;
  border: 1px solid #DADDD4;
  width: 340px;
  height: 40px;
  padding: 16px 8px;
  max-width: 100%;
}

.input_error {
  border-color: #CF1D11;
}

.textarea {
  height: 88px;
}

.textarea:focus-visible,
.input:focus-visible {
  outline: 0px;
}

.form__row {
  display: flex;
  padding: 8px 0px;
  gap: 10px;
  justify-content: space-between;
}

.form_col40 {
  width: 40%;
}

.form_col60 {
  width: 60%;
}

.form {
  width: 500px;
  max-width: 100%;
}

.form__radio:checked,
.form__radio:not(:checked) {
  position: absolute;
  left: -9999px;
}

.form__radio:checked + .form__radio-label,
.form__radio:not(:checked) + .form__radio-label {
  position: relative;
  padding-left: 32px;
  cursor: pointer;
  display: inline-block;
}

.form__radio:checked + .form__radio-label:before,
.form__radio:not(:checked) + .form__radio-label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  border: 1px solid #DADDD4;
  border-radius: 100%;
  background: #fff;
}

.form__radio:checked + .form__radio-label:before {
  border-color: #B8CE10;
}

.form__radio:checked + .form__radio-label:after,
.form__radio:not(:checked) + .form__radio-label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: #B8CE10;
  position: absolute;
  top: 6px;
  left: 6px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.form__radio:not(:checked) + .form__radio-label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.form__radio:checked + .form__radio-label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.form__radio-error:not(:checked) + .form__radio-label:before {
  border-color: #CF1D11;
}

.form__radio:disabled + .form__radio-label:after {
  background: #B4B5B0;
}

.form__radio:disabled + .form__radio-label::before {
  border-color: #B4B5B0;
}

.form__radio-label + .form__radio + .form__radio-label {
  margin-left: 16px;
}

.form__input-text {
  border-radius: 8px;
  border: 1px solid #DADDD4;
  height: 40px;
  padding: 16px 8px;
  max-width: 100%;
}

.form__datepicker {
  position: relative;
  width: 149px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAEISURBVHgB7ZTPDYJQDMb7RLiR4I0LBEdgA53EGdzADRxBR3AEN9ANNOHCTRNu/PWrkcSY8nzEeFF+CWl5NG2/5hWigU8Jw/DEj+n5K+N3AU3TRH3OX1FdHyJQVdUG7oz07CzLWp6BcQFOXtf1AV16ZMYVRWKpiDgidL6G4eTbLMuWVyDF+b4f2ba9grsoy5LVzslEQRAEDduiKKZpmp5JA8R6aOjCKpIkmZCJghZ0d0IxXQirbV1xnCP6MloFkKzIgHakEl9X8KMFlFL3e+8BegMvJfUtgA0+snVdd61L8NiB1eN1J8WIt4Q31HGcXr8KLGUsLaWogAPzPI+7unpOjCb2XckH/oQbhAJzEiQp6tIAAAAASUVORK5CYII=") 114px center no-repeat;
  padding: 8px 16px;
}
.form__datepicker:disabled {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAEBSURBVHgB7VTLEYIwEH3B39USKEE70KOjB6nAFrQDrcAStAOYUfRqB9oBlMBVGFkT5OAwWT6jXJR3CZPsvt0X9gVo8Cnck+MdXMcru59FuyiACKaosJ8FG3M+2+aDxA6EEfIJnDCklWVZPnPOkMfiKj/7KIcgCmmoK6K9ojgWW0Uuq+/T7gK2EcIaJBadnlQLjLMxhi6RgLlaJfmGI1eYTCw/umOZJg10Mbk/udMV3tF1UBLa6zRQM3IVzKbzMpMIqZK4s9oV/G6BZDRt2y40mvICKhcQuKlFjulWFjG5ZNVAYjS8ngw9FdPVt54KrQLl0JZBQ66rd2Lp4AtH3uBP8ARdlW5aCvVbwAAAAABJRU5ErkJggg==");
}

.form__input-text_error {
  border-color: #CF1D11;
}

.header {
  border-bottom: 2px solid rgb(243, 244, 241);
  top: 0px;
  position: fixed;
  width: 100%;
  left: 0px;
  z-index: 100;
  background: linear-gradient(91deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 100%);
  -webkit-backdrop-filter: saturate(180%) blur(8px);
  backdrop-filter: saturate(180%) blur(8px);
}

.header__top {
  padding-top: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 980px) {
  .header__top {
    padding-top: 16px;
  }
}

.header__top-btn {
  font-size: 0px;
  padding-top: 4px;
}
@media (max-width: 980px) {
  .header__top-btn {
    display: none;
  }
}

.header_fixed .header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 980px) {
  .header_fixed .header__container {
    display: block;
  }
}

.header__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 29px;
}

@media (max-width: 980px) {
  .header__logo {
    width: 156px;
  }
}

.header_fixed .header__top-btn {
  display: none;
}

.header_fixed .header__logo {
  width: 118px;
}
@media (max-width: 980px) {
  .header_fixed .header__logo {
    width: 156px;
  }
}

.header_fixed .header__top {
  width: 15%;
}
@media (max-width: 980px) {
  .header_fixed .header__top {
    width: 100%;
  }
}

.header_fixed .header__bottom {
  width: 90%;
  padding-top: 21px;
}
@media (max-width: 980px) {
  .header_fixed .header__bottom {
    width: 100%;
    padding-top: 29px;
  }
}

.header__burger {
  display: none;
  position: absolute;
  right: 24px;
  top: 16px;
}
@media (max-width: 980px) {
  .header__burger {
    display: block;
  }
}

.header-menu {
  display: flex;
  flex-direction: row;
  gap: 24.5px;
  padding-top: 3px;
  padding-bottom: 16px;
}
@media (max-width: 980px) {
  .header-menu {
    overflow-x: scroll;
    flex-wrap: nowrap;
    scrollbar-width: none;
  }
  .header-menu::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 980px) {
  .header-fixed_fix .header-menu {
    padding-top: 18px;
  }
}

.header-menu__item {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5rem;
  position: relative;
  white-space: nowrap;
}

.header-menu__link {
  color: #1D1D1D;
  transition: color 0.2s ease-out;
}

.header-menu__item:hover .header-menu__link {
  color: #A9BD0F;
  cursor: pointer;
}

.header-menu__item_active::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  bottom: -18px;
  width: 100%;
  height: 4px;
  border-radius: 4px 4px 0px 0px;
  background-color: rgb(184, 206, 16);
  box-shadow: 1px 1px 18px 0px rgba(184, 206, 16, 0.51);
}
@media (max-width: 980px) {
  .header-menu__item_active::after {
    bottom: -16px;
  }
}

.header-submenu {
  display: none;
  position: absolute;
  padding-top: 25px;
  left: -15px;
}

.header-submenu__list {
  padding: 8px 5px;
  border-radius: 8px;
  border: 1px solid #DADDD4;
  background: #fff;
  z-index: 10;
  min-width: 160px;
}

.header-menu__item:hover .header-submenu {
  display: block;
}
@media (max-width: 980px) {
  .header-menu__item:hover .header-submenu {
    display: none;
  }
}

.header-submenu__link {
  color: #1D1D1D;
  font-size: 14px;
  font-weight: 400;
  transition: color 0.3s ease-out;
}
.header-submenu__link:hover {
  cursor: pointer;
}

.header-submenu__item {
  padding: 5px 12px;
  border-radius: 4px;
}
.header-submenu__item:hover {
  background: #F3F4F1;
}

.header-additional {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 27px;
}
@media (max-width: 980px) {
  .header-additional {
    display: none;
  }
}

.search-line {
  position: relative;
  min-width: 85px;
  padding-top: 2px;
  padding-left: 2px;
}

.search-line__btn {
  width: 20px;
  height: 23px;
  padding-top: 2px;
}

.search-line__input {
  height: 24px;
  font-weight: 400;
  font-size: 14px;
  padding: 0px 1px;
  vertical-align: super;
  display: none;
  position: absolute;
  top: 0px;
  left: 35px;
  width: 210px;
}
@media (max-width: 980px) {
  .search-line__input {
    transition: none;
  }
}

.search-line__active .search-line__input {
  display: block;
}

.search-line__form {
  position: absolute;
  right: 0px;
  top: 3px;
  width: 85px;
  transition: width 0.2s linear;
  padding-left: 6px;
  z-index: 2;
}
@media (max-width: 980px) {
  .search-line__form {
    transition: none;
  }
}
.search-line__form:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0%;
  position: absolute;
  z-index: -2;
  background: linear-gradient(91deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.9) 100%);
  filter: blur(7px);
}

.search-line__active .search-line__form {
  width: 309px;
}

.search-line__placeholder {
  font-weight: 700;
  font-size: 14px;
  color: #1D1D1D;
  display: block;
  position: absolute;
  left: 36px;
  top: 0px;
}

.search-line__active .search-line__placeholder {
  display: none;
}

.search-line__active .search-line__input_small {
  width: 134px;
}

.search-line__active .search-line__close-btn {
  display: block;
}

.search-line__close-btn {
  position: absolute;
  display: none;
  top: 7px;
  right: 5px;
  width: 10px;
  height: 10px;
}
.search-line__close-btn::after, .search-line__close-btn::before {
  content: "";
  display: block;
  width: 2px;
  height: 10px;
  background-color: #1D1D1D;
  position: absolute;
  left: 4px;
  top: 0px;
  transform: rotate(-45deg);
}
.search-line__close-btn::before {
  transform: rotate(45deg);
}

.header_fixed .search-line__active .search-line__form {
  width: 203px;
}

.header_fixed .search-line__active .search-line__close-btn {
  top: 7px;
  right: 9px;
}

.languages {
  font-size: 0px;
  position: relative;
  height: 25px;
}
.languages:hover {
  color: #B8CE10;
}

.languages__ico {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}

.languages:hover svg path {
  fill: #B8CE10;
}

.languages__selected {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  vertical-align: middle;
  padding-top: 2px;
}
@media (max-width: 1240px) and (min-width: 980px) {
  .languages__selected {
    font-size: 0px;
  }
}

.languages:hover .languages__selector {
  display: block;
}

.languages__selector {
  display: none;
  position: absolute;
  width: 150px;
  z-index: 1;
  left: -12px;
  top: 0px;
  padding-top: 34px;
}

.languages__item {
  font-size: 14px;
  font-weight: 400;
  padding: 4px 12px;
  color: #1D1D1D;
  display: block;
  border-radius: 4px;
  line-height: 1.5rem;
}

.languages__item:hover {
  background: rgb(243, 244, 241);
}

.languages__list {
  border: 1px solid rgb(218, 221, 212);
  padding: 3px;
  border-radius: 8px;
  background: #FFFFFF;
}

.login {
  font-size: 14px;
  font-weight: 700;
  padding-top: 3px;
  cursor: pointer;
}
@media (max-width: 1240px) and (min-width: 980px) {
  .login {
    font-size: 0px;
  }
}
.login:hover {
  color: #B8CE10;
}

.login__ico {
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-right: 7px;
}

.login:hover svg {
  fill: #B8CE10;
}

.tabs-menu {
  padding: 8px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  background: rgb(243, 244, 241);
  width: 100%;
  overflow: hidden;
}
@media (max-width: 980px) {
  .tabs-menu {
    overflow-x: scroll;
    flex-wrap: nowrap;
    scrollbar-width: none;
  }
  .tabs-menu::-webkit-scrollbar {
    display: none;
  }
}

.tabs-memu__item {
  display: block;
  padding: 8px 24px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  color: #1D1D1D;
  line-height: 1.5rem;
  transition: color 0.5s ease-out;
  white-space: nowrap;
}
.tabs-memu__item:hover {
  color: #A9BD0F;
  cursor: pointer;
}

.tabs-memu__item_active {
  background: #fff;
}

.main-banner {
  padding-top: 24px;
  position: relative;
}
.main-banner::before, .main-banner::after {
  content: "";
  display: block;
  position: absolute;
  width: 183.6px;
  height: 211px;
  background: url("../images/polygon.png") 0px 0px no-repeat;
  background-size: cover;
  bottom: 130px;
  right: 60px;
}
@media (max-width: 980px) {
  .main-banner::before, .main-banner::after {
    width: 81.5px;
    height: 94px;
    bottom: 28px;
    right: 60px;
  }
}
.main-banner::after {
  bottom: -58px;
  right: 182.2px;
}
@media (max-width: 980px) {
  .main-banner::after {
    bottom: -53px;
    right: 110px;
  }
}

.main-banner__img {
  border-radius: 16px;
  width: 100%;
}

.dashboard-list__item {
  box-shadow: 0px 4px 16px 0px rgba(180, 181, 176, 0.2509803922);
  border-radius: 16px;
  padding: 24px;
  display: flex;
  flex-direction: row;
  gap: 56px;
  margin-top: 32px;
}
@media (max-width: 980px) {
  .dashboard-list__item {
    display: block;
  }
}

.dashboard-list__left {
  width: 633px;
  max-width: 100%;
}

.dashboard-list__right {
  width: 500px;
  max-width: 100%;
  padding-top: 29px;
}

.dashboard-list__image-lock {
  position: relative;
}
.dashboard-list__image-lock::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: saturate(180%) blur(8px);
  backdrop-filter: saturate(180%) blur(8px);
  transition: all 0.5s ease-out;
}
.dashboard-list__image-lock:hover::before {
  background: rgba(79, 88, 12, 0.1);
}

.ashboard-list__lock {
  position: absolute;
  width: 64px;
  height: 64px;
  border: 2px solid #F3F4F1;
  border-radius: 35px;
  background: #fff url("../images/lock.png") center center no-repeat;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  transform: translateX(-50%) translateY(-42%);
}

.dashboard-list__title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.5rem;
}

.dashboard-list__text {
  padding-top: 16px;
  font-size: 14px;
  line-height: 1.5rem;
  color: #6A6B61;
}

.dashboard-list__btn-list {
  padding-top: 24px;
}

@media (max-width: 450px) {
  .dashboard-list__btn {
    width: 100%;
    display: block;
    text-align: center;
  }
  .dashboard-list__btn + .dashboard-list__btn {
    margin-left: 0px;
    margin-top: 10px;
  }
}

.subscribe {
  border-radius: 16px;
  border: 1px solid #DADDD4;
  background: url("../images/subscribe_bg.png"), linear-gradient(267deg, rgba(184, 206, 16, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;
  width: 100%;
  padding: 48px;
  margin-top: 48px;
}
@media (max-width: 980px) {
  .subscribe {
    background: url("../images/subscribe_bg_480.png"), linear-gradient(267deg, rgba(184, 206, 16, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;
  }
}

.subscribe__title {
  font-size: 24px;
  font-weight: 800;
  line-height: 1.5rem;
}

.subscribe__form {
  padding-top: 24px;
  width: 100%;
}

.subscribe__input {
  width: 472px;
  padding: 8px 16px;
  background-color: #fff;
}
@media (max-width: 980px) {
  .subscribe__input {
    display: block;
    width: 100%;
  }
}

.subscribe__btn {
  padding-left: 55.5px;
  padding-right: 55.5px;
  margin-left: 12px;
}
@media (max-width: 980px) {
  .subscribe__btn {
    display: block;
    width: 100%;
    margin-left: 0px;
    margin-top: 16px;
  }
}

.subscribe__igree {
  margin-top: 16px;
}

.footer-wrapp {
  background: #F3F4F1;
  margin-top: 64px;
}

.footer {
  padding: 48px 0px 32px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 980px) {
  .footer {
    display: block;
  }
}

.footer__logo {
  width: 235px;
  max-width: 100%;
}
@media (max-width: 980px) {
  .footer__logo {
    width: 156px;
  }
}

.footer-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 63%;
}
@media (max-width: 980px) {
  .footer-menu {
    padding-top: 32px;
    width: 100%;
  }
}

.footer-main-menu {
  width: 33%;
  padding-left: 11px;
}
@media (max-width: 980px) {
  .footer-main-menu {
    padding: 0px;
    width: 50%;
  }
}

.footer-tabs {
  width: 66%;
  padding-left: 13px;
  padding-top: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (max-width: 980px) {
  .footer-tabs {
    width: 50%;
    display: block;
  }
}

.footer-tabs__col {
  width: 50%;
}
@media (max-width: 980px) {
  .footer-tabs__col {
    width: 100%;
  }
}

.footer-main-menu__item {
  padding-bottom: 16px;
}

.footer-main-menu__link {
  font-weight: 700;
  font-size: 14px;
  line-height: "Montserrat", sans-serif;
  color: #1D1D1D;
  transition: color 0.2s ease-out;
}
.footer-main-menu__link:hover {
  color: #A9BD0F;
}

.footer-tabs__item {
  padding-bottom: 14px;
}

.footer-tabs__link {
  font-weight: 400;
  font-size: 14px;
  line-height: "Montserrat", sans-serif;
  color: #6A6B61;
  transition: color 0.2s ease-out;
}
.footer-tabs__link:hover {
  color: #A9BD0F;
  cursor: pointer;
}

.footer-copyright {
  border-top: 1px solid #DADDD4;
  padding: 16px 0px;
  font-size: 10px;
  font-weight: 400;
  line-height: "Montserrat", sans-serif;
  color: #6A6B61;
  text-align: left;
}

.modal {
  position: fixed;
  width: 0px;
  height: 0px;
  left: -1000%;
  z-index: 200;
}

.modal_active {
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}

.modal_bg {
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  cursor: pointer;
}

.modal-popup {
  margin: 133px auto;
  width: 530px;
  max-width: 99%;
  border: 1px solid #DADDD4;
  border-radius: 16px;
  background: #fff;
  z-index: 10;
}
@media (max-width: 980px) {
  .modal-popup {
    margin: 20px auto;
  }
}

.modal-popup__head {
  border-bottom: 1px solid #DADDD4;
  padding: 24px 32px;
  position: relative;
}

.modal-popup__btn-close {
  width: 24px;
  height: 24px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.5s ease-out;
  right: 33px;
  top: 26px;
  position: absolute;
}
.modal-popup__btn-close::after, .modal-popup__btn-close::before {
  content: "";
  display: block;
  width: 2px;
  height: 28px;
  background-color: #1D1D1D;
  position: absolute;
  left: 11px;
  top: -2px;
  transform: rotate(-45deg);
}
.modal-popup__btn-close::before {
  transform: rotate(45deg);
}

.modal-form__fields {
  padding: 32px 32px 48px 32px;
}

.modal-form__item {
  display: grid;
  grid-template-columns: 126px auto;
  padding-top: 16px;
}
@media (max-width: 480px) {
  .modal-form__item {
    grid-template-columns: 100%;
  }
}

.modal-form__label {
  font-size: 14px;
  color: #1D1D1D;
}

.modal-form__buttons {
  border-top: 1px solid #DADDD4;
  padding: 24px 32px;
}

.modal-form__textarea,
.modal-form__input {
  max-width: 90%;
}

.burger-menu-btn {
  display: none;
  width: 32px;
  height: 32px;
  position: relative;
}
@media (max-width: 980px) {
  .burger-menu-btn {
    display: block;
  }
}
.burger-menu-btn::before, .burger-menu-btn::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #1D1D1D;
  left: 0px;
  top: 12px;
}
.burger-menu-btn::after {
  top: 22px;
}

.burger-menu {
  display: none;
  position: fixed;
  z-index: 110;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(267.47deg, rgba(184, 206, 16, 0.2) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
  padding-top: 16px;
}

.burger-menu_active {
  display: block;
}

.burger-menu__top {
  position: relative;
}

.burger-menu__logo {
  width: 156px;
  display: inline-block;
}

.burger-menu__btn {
  position: absolute;
  right: 24px;
  top: 0px;
}

.burger-menu-btn_open::before, .burger-menu-btn_open::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #1D1D1D;
  left: 0px;
  top: 12px;
  transform: rotate(45deg);
}
.burger-menu-btn_open::after {
  top: 12px;
  transform: rotate(-45deg);
}

.burger-menu__additional {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 21px 0px;
  border-top: 1px solid #F3F4F1;
  border-bottom: 1px solid #F3F4F1;
  margin: 16px 0px;
}

.burger-menu__additional-container {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.burger-menu__menu-list {
  padding: 24px 0px;
  height: 65vh;
  overflow-y: scroll;
  padding-bottom: 80px;
}

.burger-menu__menu-item {
  padding-top: 24px;
}

.burger-menu__link {
  font-weight: 700;
  font-size: 14px;
  color: #1D1D1D;
}

.burger-menu__buttom-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  position: absolute;
  bottom: 48px;
}

.burger-menu__buttom-btn .btn {
  width: 49%;
  text-align: center;
}

.burger-menu__search-form {
  padding-left: 0px;
}

@media (max-width: 980px) {
  .burger-menu_active-search {
    display: block;
  }
  .burger-menu_active-search .burger-menu__search-line {
    width: 100%;
  }
  .burger-menu_active-search .languages,
.burger-menu_active-search .login {
    width: 0px;
    height: 0px;
    display: none;
  }
  .burger-menu__search-line {
    width: 85px;
    height: 30px;
  }
  .search-line__active .burger-menu__search-form {
    left: 0px;
    width: 100%;
  }
  .burger-menu__search-form::before {
    display: none;
  }
  .burger-menu__search-input {
    font-size: 16px !important;
  }
}
.loader {
  position: fixed;
  display: none;
  z-index: 1000000;
  left: -1000%;
  top: -1000%;
  width: 0%;
  height: 0%;
  background: linear-gradient(91deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 100%);
  backdrop-filter: blur(8px);
}
.loader::before {
  content: "";
  display: block;
  width: 57px;
  height: 64px;
  background: url(../images/preloader.png) 0 0 no-repeat;
  background-size: cover;
  position: absolute;
  left: calc(50% - 20px);
  top: calc(50% - 62px);
  animation: 2s ease-in-out 0s infinite loader;
}

.loader_active {
  display: block;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(250deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.tab-content {
  display: none;
}

.tab-content_active {
  display: block;
}

.accordean {
  max-width: 100%;
}

.accordean__item {
  margin: 16px 0px;
  padding-bottom: 16px;
  border-bottom: 1px solid #DADDD4;
}

.accordean__title {
  font-size: 20px;
  font-weight: 800;
  position: relative;
  cursor: pointer;
}
.accordean__title::after {
  content: "";
  display: block;
  width: 10px;
  height: 6px;
  position: absolute;
  right: 7px;
  top: 9px;
  transition: all 0.3s linear;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACOSURBVHgBdY+9DcMgEIXvSJOSAQBllXQps0GUMmUm8ArZIB7BG3gUI7GABTXgd5aRLEt+0hM/38dJsHNuIkQpdfcI7XJDSinjymutHl0vBByljc2Ms845/8GezOxlsohNwrZPKX25TbDW9lhe6IwHBEmLFEJ4C780McY4aC2MHugV/UH60Fnwuc4Y0x3vF4+CQknRVLbSAAAAAElFTkSuQmCC") no-repeat center;
}

.accordean__content {
  color: #6A6B61;
  max-height: 0;
  transition: all 0.2s linear;
  visibility: hidden;
}

.accordean__item-open .accordean__content {
  visibility: visible;
  padding-top: 16px;
  max-height: 550px;
}

.accordean__item-open .accordean__title::after {
  transform: rotate(180deg);
}

.alert {
  padding: 15px;
  padding-left: 47px;
  border: 1px solid #DADDD4;
  position: relative;
  border-radius: 8px;
  color: #6A6B61;
  background: #F3F4F1;
  margin: 16px 0px;
}
.alert:before, .alert:after {
  content: "";
  position: absolute;
  border-radius: 12px;
  top: 16px;
  left: 16px;
  width: 24px;
  height: 24px;
}

.alert_info:before {
  background: #116ECF url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAMCAYAAABIvGxUAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAArSURBVHgBjYqxCQAACMNU/P9F/aTawcFBMBDIEAUQ0pic6DwMrPkT3iajAJ0QDKir8o6QAAAAAElFTkSuQmCC") center no-repeat;
}

.alert_error:before {
  background: #CF1D11 url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABESURBVHgBlZABCgAgCANHL/H/n/Ipi0AhzGAKgsyT4UDSow2ljpZ7xMAKXxATtAp3Wnv9c+ngB1qYlGQtP8NBPE4h8A2LiP+BztgEMAAAAABJRU5ErkJggg==") center no-repeat;
}

.notification {
  display: none;
  position: fixed;
  left: -500%;
  width: 360px;
  max-width: 100%;
  border-radius: 8px;
  transition: all 0.3s linear;
  z-index: 999;
  padding: 16px 48px;
  color: #fff;
  transform: translateX(-50%);
  opacity: 1;
}
.notification:before, .notification::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 16px;
  border: 1px solid #fff;
  border-radius: 50px;
  width: 24px;
  height: 24px;
}

.notification_active {
  display: block;
  top: 72px;
  left: 50%;
}

.notification_close {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABESURBVHgBlZABCgAgCANHL/H/n/Ipi0AhzGAKgsyT4UDSow2ljpZ7xMAKXxATtAp3Wnv9c+ngB1qYlGQtP8NBPE4h8A2LiP+BztgEMAAAAABJRU5ErkJggg==") center no-repeat;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 23px;
  right: 23px;
  cursor: pointer;
}

.notification_success {
  background-color: #B8CE10;
}
.notification_success::before {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAJCAYAAADkZNYtAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABrSURBVHgBhY4BDYAwDATXBAFImASk4GBIwMHAAU7ACRKQgITShTV8lrJ90qT53iV1rhFmnvlNaIEDfwk10MtcGYxaTqVVgDseNAt0Z+6S0CMcUZDZAPTWfyik3Cb4I4wW0+lCRKtAuh8W/ACakZ4dnMOf2QAAAABJRU5ErkJggg==") center no-repeat;
}

.notification_error {
  background-color: #CF1D11;
}
.notification_error::before {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABESURBVHgBlZABCgAgCANHL/H/n/Ipi0AhzGAKgsyT4UDSow2ljpZ7xMAKXxATtAp3Wnv9c+ngB1qYlGQtP8NBPE4h8A2LiP+BztgEMAAAAABJRU5ErkJggg==") center no-repeat;
}

/*== start of code for tooltips ==*/
.tooltip {
  cursor: help;
  position: relative;
  color: #6A6B61;
  text-decoration: underline dotted;
}

/*== common styles for both parts of tool tip ==*/
.tooltip::before,
.tooltip::after {
  left: 50%;
  opacity: 0;
  position: absolute;
  z-index: -100;
}

.tooltip:hover::before,
.tooltip:focus::before,
.tooltip:hover::after,
.tooltip:focus::after {
  opacity: 1;
  transform: scale(1) translateY(0) translateX(-50%);
  z-index: 100;
}

/*== pointer tip ==*/
.tooltip::before {
  content: "";
  border-style: solid;
  border-width: 0.6em 0.6em 0 0.6em;
  border-color: #6A6B61 transparent transparent transparent;
  bottom: 100%;
  margin-left: -0.5em;
  transition: all 0.65s cubic-bezier(0.84, -0.18, 0.31, 1.26), opacity 0.65s 0.5s;
  transform: scale(0.6) translateY(-90%);
}

.tooltip:hover::before,
.tooltip:focus::before {
  transition: all 0.65s cubic-bezier(0.84, -0.18, 0.31, 1.26) 0.2s;
}

/*== speech bubble ==*/
.tooltip::after {
  background: #6A6B61;
  border-radius: 8px;
  bottom: 145%;
  color: #fff;
  content: attr(data-tip);
  padding: 9px;
  transition: all 0.65s cubic-bezier(0.84, -0.18, 0.31, 1.26) 0.2s;
  transform: scale(0.6) translateY(50%);
  min-width: 13.7em;
  text-align: center;
}

.tooltip:hover::after,
.tooltip:focus::after {
  transition: all 0.65s cubic-bezier(0.84, -0.18, 0.31, 1.26);
}

@media (max-width: 760px) {
  .tooltip::after {
    font-size: 0.75em;
    margin-left: -5em;
    width: 10em;
  }
}
.datepicker__wrapper {
  border-radius: 8px;
}

.datepicker__day.is-selected div {
  background-color: transparent;
  color: #A9BD0F;
  font-weight: bold;
}

.datepicker__day.is-today div {
  font-weight: bold;
}

.datepicker__day.is-today .datepicker__daynum {
  text-decoration: none;
}

.datepicker__day div:hover {
  background-color: #A9BD0F;
  color: #fff;
}

.datepicker__day div {
  border-radius: 4px;
}

.datepicker__prev,
.datepicker__next {
  font-size: 25px;
  color: #1D1D1D;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin: 16px 0px;
}

.pagination__item {
  margin: 0px 7px;
}

@media (max-width: 767px) {
  .pagination__item {
    margin: 0 2px;
  }
}
.pagination__href {
  display: block;
  text-align: center;
  position: relative;
  width: 24px;
  height: 24px;
  color: #1D1D1D;
  border-radius: 8px;
  font-weight: 700;
  -webkit-transition: background 0.3s, color 0.3s;
  -o-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (max-width: 767px) {
  .pagination__href {
    font-size: 14px;
  }
}
.pagination__href--prev:before,
.pagination__href--next:before {
  content: "";
  display: block;
  background: transparent url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAACOSURBVHgBdY+9DcMgEIXvSJOSAQBllXQps0GUMmUm8ArZIB7BG3gUI7GABTXgd5aRLEt+0hM/38dJsHNuIkQpdfcI7XJDSinjymutHl0vBByljc2Ms845/8GezOxlsohNwrZPKX25TbDW9lhe6IwHBEmLFEJ4C780McY4aC2MHugV/UH60Fnwuc4Y0x3vF4+CQknRVLbSAAAAAElFTkSuQmCC") center center no-repeat;
  position: absolute;
  top: 10px;
  width: 10px;
  height: 6px;
}

.pagination__href--prev:before {
  left: 10px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.pagination__href--next:before {
  right: 10px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.pagination__href--active {
  color: #B8CE10;
}

.pagination__href:hover {
  background-color: #A9BD0F;
  color: #fff;
}

.pagination__href--prev:hover,
.pagination__href--next:hover {
  background-color: transparent;
}

.pagination__href--active {
  pointer-events: none;
}/*# sourceMappingURL=main.css.map */